[submodule "src/interbotix_ros_core"]
	path = src/interbotix_ros_core
	url = git@github.com:Interbotix/interbotix_ros_core.git
[submodule "src/interbotix_ros_toolboxes"]
	path = src/interbotix_ros_toolboxes
	url = git@github.com:Interbotix/interbotix_ros_toolboxes.git
[submodule "src/interbotix_ros_manipulators"]
	path = src/interbotix_ros_manipulators
	url = git@github.com:art-e-fact/interbotix_ros_manipulators.git
[submodule "src/pymoveit2"]
	path = src/pymoveit2
	url = git@github.com:art-e-fact/pymoveit2.git
